<!-- initialize data for Google Maps JS API and Geocoding API -->
<script>
  function initMap() {
    var lat = <%= campground.lat %>;
    var lng = <%= campground.lng %>;
    var center = {lat: lat, lng: lng };
    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 8,
        center: center,
        scrollwheel: false
    });
    var contentString = `
      <strong><%= campground.name %><br />
      <%= campground.location %></strong>
      <p><%= campground.description %></p>
    `
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });
    var marker = new google.maps.Marker({
        position: center,
        map: map
    });
    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
  }
</script>
<!-- use package dotenv for incorporating hidden and persisting environment variables in .env file; contains geocoder api key without restrictions, thus hidden on server side; a second key is used in url that is restricted since anyone can see it; if working locally remove local host restriction from google dev dashboard for deployment! -->
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAdnw17fOSB4DjbPqYn4jjqVCcEfQoFOW8&callback=initMap"></script>