<% include ./partials/header %>
<% include ./partials/backgroundPic %>

<h1>Search Results for "<%= search %>"</h1>

<% if(campgrounds.length > 0) { %>
<h2 class="searchListCategory">Campgrounds</h2>
  <div class="list-group">
    <% campgrounds.forEach(function(campground) { %>
      <a href="/campgrounds/<%= campground._id %>" class="list-group-item searchList textLink">
        <img class="search-thumbnail list-inline-item" src="<%= campground.image %>" alt="nada">
        <h6 class="list-inline-item"><%= campground.name %></h6>
      </a>
    <% }); %>
  </div>
<% } %>

<% if(users.length > 0) { %>
<h2 class="searchListCategory">Usernames</h2>
  <div class="list-group">
    <% users.forEach(function(user) { %>
      <a href="/users/<%= user._id %>" class="list-group-item searchList textLink">
        <img class="search-thumbnail rounded-circle list-inline-item" src="<%= user.avatar %>" alt="nada">
        <h6 class="list-inline-item"><%= user.username %></h6><br>
      </a>
    <% }); %>
  </div>
<% } %>

<div class="form-group row float-sm-left campUserCluster">
  <div class="btn-group col-12">
    <a class="btn btn-sm btn-block btn-dark" href="/campgrounds"><i class="fas fa-sign"></i> Campgrounds</a>
    <a class="btn btn-sm btn-success" href="/users"><i class="fas fa-users"></i></a>
  </div>
</div>

<% include ./partials/paginate %>
<% include ./partials/footer %>