<% include ../partials/header %>
<% include ../partials/backgroundPic %>

<header class="jumbotron">
  <h1>Welcome to YelpCamp!</h1>
  <h2>Explore our hand-picked campgrounds</h2>
  <a class="btn btn-dark" href="/campgrounds/new" id="addCamp">Add a New Campground <i class="fas fa-map-marked-alt"></i></a>
</header>

<div class="row">
  <% campgrounds.forEach(function(campground) { %>
    <div class="col-lg-3 col-sm-6">
      <div class="card">
        <a href="/campgrounds/<%= campground._id %>" class="textLink">
          <img class="card-img" src="<%= campground.image %>" alt="nada">
          <div class="card-body">
            <h3 class="card-title"><%= campground.name %></h3>
            <p class="cardExcerpt"><small><%- campground.description.substring(0, 35) %>&#8230;</small></p>
          </div>
        </a>
      </div>
    </div>
  <% }); %>
</div>

<!-- navigate all campgrounds -->
<nav class="paginate">
  <% if (pages && pages > 0) { %>
    <ul class="pagination pagination-sm justify-content-center">
      <!-- for first page -->
      <% if (current == 1) { %>
        <li class="disabled page-item"><a class="page-link"><i class="fas fa-angle-double-left"></i></a></li>
      <% } else { %>
        <li class="page-item"><a class="page-link" href="/campgrounds"><i class="fas fa-angle-double-left"></i></a></li>
      <% } %>

      <!-- go to previous page -->
      <% if (current == 1) { %>
        <li class="disabled page-item"><a class="page-link"><i class="fas fa-angle-left"></i></a></li>
      <% } else { %>
        <li class="page-item"><a class="page-link" href="/campgrounds?page=<%= Number(current) - 1 %>"><i class="fas fa-angle-left"></i></a></li>
      <% } %>

      <!-- go to specific page -->
      <% let i = (Number(current) > 4 ? Number(current) - 3 : 1) %>
      <% if (i !== 1) { %>
        <li class="disabled page-item"><a class="page-link navNoBorder"><i class="fas fa-ellipsis-h"></i></a></li>
      <% } %>
      <% for (; i <= (Number(current) + 3) && i <= pages; i++) { %>
        <% if (i == current) { %>
          <li class="page-item active"><a class="page-link" id="activePage"><%= i %></a></li>
        <% } else { %>
          <li class="page-item"><a class="page-link navNoBorder" href="/campgrounds?page=<%= i %>"><%= i %></a></li>
        <% } %>
        <% if (i == Number(current) + 3 && i < pages) { %>
          <li class="disabled page-item"><a class="page-link navNoBorder"><i class="fas fa-ellipsis-h"></i></a></li>
        <% } %>
      <% } %>

      <!-- go to next page -->
      <% if (current == pages) { %>
        <li class="disabled page-item"><a class="page-link navNoBorder"><i class="fas fa-angle-right"></i></a></li>
      <% } else { %>
        <li class="page-item"><a class="page-link navNoBorder" href="/campgrounds?page=<%= Number(current) + 1 %>"><i class="fas fa-angle-right"></i></a></li>
      <% } %>

      <!-- go to last page -->
      <% if (current == pages) { %>
        <li class="disabled page-item"><a class="page-link"><i class="fas fa-angle-double-right"></i></a></li>
      <% } else { %>
        <li class="page-item"><a class="page-link" href="/campgrounds?page=<%= pages %>"><i class="fas fa-angle-double-right"></i></a></li>
      <% } %>
    </ul>
  <% } %>
</nav>

<% include ../partials/footer %>