<% include ../partials/header %>
<% include ../partials/backgroundPic %>

<h1><%= campground.name %></h1>
<div class="row">

<!-- SIDEBAR W/ MAP -->
  <div class="col-md-3">
<!--     <div class="list-group">
      <li class="list-group-item active">Info 1</li>
      <li class="list-group-item">Info 1</li>
      <li class="list-group-item">Info 1</li>
    </div> -->
    <div id="map"></div>
  </div>

  <!-- CAMPGROUND -->
  <div class="col-md-9">
    <div class="card">
      <img class="card-img-top" src="<%= campground.image %>" alt="no image">
      <div class="card-body">
        <div class="card-title">
          <h4 class="float-right">$<%= campground.price %>/night</h4>
          <h4><a href="#" class="textLink"><%= campground.name %></a></h4>
        </div>
        <div class="card-text">
          <p><%= campground.description %></p>
          <form action="/campgrounds/<%= campground._id %>/?_method=DELETE" method="POST">
            <div class="form-group">

              <div>
                <span class="float-right createdAt">
                  <small>
                    <em><%= moment(campground.createdAt).fromNow() %></em>
                  </small>
                </span>
                <small>
                  <em>Submitted by 
                    <strong><a class="textLink" href="/users/<%= campground.author.id %>">
                      <img  class="comment-thumbnail list-inline-item" src="<%= campground.author.avatar %>" alt="">
                      <%= campground.author.username %>
                    </strong></a>
                  </em>
                </small>
              </div>

              <!-- if currentUser is author/isAdmin show buttons -->
              <p>
              <% if(currentUser && campground.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin) { %>
                <div class="btn-group float-right">
                  <a class="btn btn-sm btn-outline-warning" href="/campgrounds/<%= campground._id %>/edit"><i class="fas fa-edit"></i></a>
                  <button class="btn btn-sm btn-outline-danger"><i class="fas fa-times"></i></button>
                </div>                  
              <% } %>
              </p>

              <div class="form-group row float-sm-left">
                <div class="btn-group col-12">
                  <a class="btn btn-sm btn-block btn-outline-info" href="/campgrounds"><i class="fas fa-sign"></i> Campgrounds</a>
                  <a class="btn btn-sm btn-outline-primary" href="/users"><i class="fas fa-users"></i></a>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- COMMENTS -->
    <div class="card footerSpace">
      <div class="card-header">
        <a class="btn btn-outline-success btn-sm float-right" data-toggle="collapse" href="#collapseComment">Add <i class="fa fa-comment"></i></a>
        <h4>Comments <i class="fas fa-comments"></i></h4>

        <!-- Add Comment Toggle -->
        <div class="collapse" id="collapseComment">
          <div class="card card-body border-success">

            <!-- check if logged in -->
            <% if(!currentUser) { %>
              <h5><a class="textLink" href="/login">Login</a> or <a class="textLink" href="/register">create an account</a> to contribute!</h5>
            <% } %>

            <!-- access to add comment form -->
            <% if(currentUser) { %>
              <h5>Add your <i class="far fa-comment"></i> to the conversation!</h5>
              <form id="add-comment-form" action="/campgrounds/<%= campground._id %>/comments" method="POST">
                <div class="form-group">
                  <input class="form-control" type="text" disabled value="<%= currentUser.username %>">
                </div>
                <div class="form-group">
                  <textarea autofocus class="form-control" type="text" cols="70" rows="3" name="comment[text]"></textarea>
                </div>
                <div class="form-group">
                  <button class="btn btn-sm btn-outline-success">Submit <i class="fa fa-comment"></i></button>
                </div>
              </form>
            <% } %>

          </div>
        </div>
      </div>

      <ul class="list-group list-group-flush">

      <!-- if no comments -->
      <% if(campground.comments.length === 0) { %>
        <div class="card-body">
          <div class="card-title text-muted">
            <p><em>There are no comments for <%= campground.name %>. Be the first to contribute!</em></p>
          </div>
        </div>
      <% } %>

      <!-- else list comments -->
      <% campground.comments.forEach(function(comment) { %>
        <li class="list-group-item" id="commentList">
          <span class="float-right createdAt">
            <small>
              <em><%= moment(comment.createdAt).fromNow() %></em>
            </small>
          </span>

          <!-- color currentUser -->
          <h6>
            <% if(currentUser && currentUser._id.equals(comment.author.id)) { %>
              <a class="textLink" href="/users/<%= comment.author.id %>">
                <img class="comment-thumbnail list-inline-item currentUserComment" src="<%= comment.author.avatar %>" alt="">
                <%= comment.author.username %>
              </a>
            <% } else { %>
              <a class="textLink" href="/users/<%= comment.author.id %>">
                <img class="comment-thumbnail list-inline-item" src="<%= comment.author.avatar %>" alt="">
                <%= comment.author.username %>
              </a>
            <% } %>
          </h6>
          <p><%= comment.text %></p>

          <div class="form-group">
          <!-- if currentUser is author/isAdmin show buttons -->
          <% if(currentUser && comment.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin) { %>
            <form action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
              <div class="btn-group">
                <a class="btn btn-sm btn-outline-warning" data-toggle="collapse" href="#collapseEdit<%= comment._id %>"><i class="fas fa-edit"></i></a>
                <button type="submit" class="btn btn-sm btn-outline-danger"><i class="fas fa-times"></i></button>
              </div>
            </form>

            <!-- toggle edit form -->
            <div class="collapse collapseEditComment" id="collapseEdit<%= comment.id %>">
              <div class="card card-body border-warning">
                <h5>Edit your <i class="far fa-comment"></i></h5>
                <form id="edit-comment-form<%= comment._id %>" action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
                  <div class="form-group">
                    <input class="form-control" type="text" disabled value="<%= currentUser.username %>">
                  </div>
                  <div class="form-group">
                    <textarea autofocus class="form-control" type="text" cols="70" rows="3" name="comment[text]" form="edit-comment-form<%= comment._id %>"><%= comment.text %></textarea>
                  </div>
                  <div class="form-group">
                    <button class="btn btn-sm btn-outline-warning">Update <i class="fa fa-comment"></i></button>
                  </div>
                </form>
              </div>
            </div>
          <% } %>

          </div>
        </li>
      <% }) %>

      </ul>
    </div>
  </div>
</div>

<!-- initialize data for Google Maps JS API and Geocoding API -->
<% include ../partials/googleGeocodingInit %>
<% include ../partials/footer %>