<% include ../partials/header %>
<% include ../partials/backgroundPic %>

<h1>Explore Our Community!</h1>
<div class="list-group userList">
  <% users.forEach(function(user) { %>
    <a href="/users/<%= user._id %>" class="list-group-item userListItem textLink">
      <div class="userListBackground" style="background-image: linear-gradient(to right, rgba(255, 255, 255, .9), rgba(255, 255, 255, .5)), url(<%= user.avatar %>);">
        <img class="img-thumbnail rounded-circle list-inline-item" src="<%= user.avatar %>" alt="nada">
        <h3 class="list-inline-item"><%= user.username %></h3>
        <div class="userListBackgrnd"><small><%- user.userBackground.substring(0, 75) %>&#8230;</small></div>
      </div>
    </a>
  <% }); %>
</div>

<div class="form-group row float-sm-left campUserCluster">
  <div class="btn-group col-12">
    <a class="btn btn-sm btn-block btn-dark" href="/campgrounds"><i class="fas fa-sign"></i> Campgrounds</a>
  </div>
</div>

<!-- navigate all users or search results -->
<nav class="paginate">
  <% if (pages && pages > 0) { %>
    <ul class="pagination pagination-sm justify-content-center">
      <!-- for first page -->
      <% if (current == 1) { %>
        <li class="disabled page-item"><a class="page-link"><i class="fas fa-angle-double-left"></i></a></li>
      <% } else { %>
        <li class="page-item"><a class="page-link" href="/users"><i class="fas fa-angle-double-left"></i></a></li>
      <% } %>

      <!-- go to previous page -->
      <% if (current == 1) { %>
        <li class="disabled page-item"><a class="page-link"><i class="fas fa-angle-left"></i></a></li>
      <% } else { %>
        <li class="page-item"><a class="page-link" href="/users?page=<%= Number(current) - 1 %>"><i class="fas fa-angle-left"></i></a></li>
      <% } %>

      <!-- go to specific page -->
      <% let i = (Number(current) > 4 ? Number(current) - 3 : 1) %>
      <% if (i !== 1) { %>
        <li class="disabled page-item"><a class="page-link navNoBorder"><i class="fas fa-ellipsis-h"></i></a></li>
      <% } %>
      <% for (; i <= (Number(current) + 3) && i <= pages; i++) { %>
        <% if (i == current) { %>
          <li class="page-item active"><a class="page-link" id="activePage"><%= i %></a></li>
        <% } else { %>
          <li class="page-item"><a class="page-link navNoBorder" href="/users?page=<%= i %>"><%= i %></a></li>
        <% } %>
        <% if (i == Number(current) + 3 && i < pages) { %>
          <li class="disabled page-item"><a class="page-link navNoBorder"><i class="fas fa-ellipsis-h"></i></a></li>
        <% } %>
      <% } %>

      <!-- go to next page -->
      <% if (current == pages) { %>
        <li class="disabled page-item"><a class="page-link navNoBorder"><i class="fas fa-angle-right"></i></a></li>
      <% } else { %>
        <li class="page-item"><a class="page-link navNoBorder" href="/users?page=<%= Number(current) + 1 %>"><i class="fas fa-angle-right"></i></a></li>
      <% } %>

      <!-- go to last page -->
      <% if (current == pages) { %>
        <li class="disabled page-item"><a class="page-link"><i class="fas fa-angle-double-right"></i></a></li>
      <% } else { %>
        <li class="page-item"><a class="page-link" href="/users?page=<%= pages %>"><i class="fas fa-angle-double-right"></i></a></li>
      <% } %>
    </ul>
  <% } %>
</nav>

<% include ../partials/footer %>