<% include ../partials/header %>
<% include ../partials/backgroundPic %>

<div class="row">
  <div class="col-12">
    <h1><%= user.username %></h1>
    <div class="card footerSpace">
      <img class="card-img-top" src="<%= user.avatar %>" alt="no image">
      <div class="card-body">
        <div class="card-title">
          <h4><%= user.username %></h4>
        </div>
        <div class="card-text">
          <p><%= user.userBackground %></p>
          <h5>Check Out My Campsites</h5>

          <!-- list user's campgrounds -->
            <div class="list-group">
            <% if(campgrounds.length > 0) { %>
              <% campgrounds.forEach(function(campground) { %>
                <a href="/campgrounds/<%= campground._id %>" class="list-group-item textLink userSite">
                  <img class="img-thumbnail rounded-circle list-inline-item" src="<%= campground.image %>" alt="nada">
                  <h6 class="list-inline-item"><%= campground.name %></h6><br>
                </a>
              <% }); %>
            <% } else { %>
            <p><em>No campgrounds yet&#8230;</em></p>
            <% } %>
          </div>
        </div>
        <p>
          <form action="/users/<%= user._id %>/?_method=DELETE" method="POST">

            <% if(currentUser && user._id.equals(currentUser._id) || currentUser && currentUser.isAdmin) { %>
              <div class="btn-group float-right">
                <a class="btn btn-sm btn-outline-warning" href="/users/<%= user._id %>/edit"><i class="fas fa-edit"></i></a>
                <button class="btn btn-sm btn-outline-danger"><i class="fas fa-times"></i></button>
              </div>
            <% } %>

            <div class="form-group">
              <div class="form-group row float-sm-left">
                <div class="btn-group col-12">
                  <a class="btn btn-sm btn-block btn-outline-dark" href="/campgrounds"><i class="fas fa-sign"></i> Campgrounds</a>
                  <a class="btn btn-sm btn-outline-success" href="/users"><i class="fas fa-users"></i></a>
                </div>
              </div>
            </div>
          </form>
        </p>
      </div>
    </div>
  </div>
</div>

<% include ../partials/footer %>